<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>


    
    {{{body}}}

    
        <footer>
            <div class="footer_image">
            <img src="/media/page/logo_foot.png" alt="">
            </div>
            <div class="footer_data">
                <div class="footer_text">
                    Join our email list and receive fun <br>
                    updates and discounts!
                </div>
                <div class="input">
                <input type="text">
               <form action="hola"></form>
                </div>

            </div>
            <div class="socialmedia">

            </div>
        </footer>

    
    <script src="/scripts/main.js"></script>
</body>
</html>