 <div class="grandoteDetail">
    <div class="navigationDetail">
                <div class="navigation_logo">
                    <img class="nav_logo" src="/media/page/logo.png" alt="">
                </div>
                <div class="navigation_menu">
                    <a href="#">Home</a>
                    <a href="#">Store
                    <img src="/media/page/up.png" alt=""></a>              
                    <a href="#">Contact Us</a>
                    <a href="#">Testing</a>
                </div>
               
</div>
<div class="filter">
    <select class="product_order" name="Ordenar">
        <option value="none"> ninguno</option>  
        <option value="expensive">$ High to Low</option> 
        <option value="cheap">$ Low to High</option>  
        <option value="az">A-Z</option> 
        <option value="za">Z-A</option>  
        <option value="new">New to Old</option>      
    </select>
  
    </div>
    
<div class="productDetail">
                <div class="publicity_left">
                    <h1 class="publicity_tittle">
                     {{{name}}}
                    </h1>
                    <h2 class="publicity_subtittle">
                        NOTEBOOKS
                    </h2 >
                
                    <p class="publicity_text">
                       {{{description}}} 
                    </p>
                    <div class="publicity_price">
                        <P class="publicity_priceb">
                        ${{{priceb}}} 
                        </p>
                        <P>
                            ${{{discount}}}
                        </P>
                    </div>
                    <div class="publicity_btns">
                        <button class="publicity_btncart">
                            Add to cart
                        </button>
                        <button class="publicity_btngift">
                             Add to gift
                        </button>

                    </div>
                </div>  
                <div class="publicity_right"> 
                    <div class="publicity_images">
                        <img src="" alt="">

                    </div>
                </div>
        </div>
            
 </div>
   