@font-face{
    font-family: "muli";
    src: url(/media/tipografias/Muli-Regular.ttf);
}

@font-face{
    font-family: "mulibold";
    src: url(/media/tipografias/Muli-Bold.ttf);
}
@font-face{
    font-family: "helveticabold";
    src: url(/media/tipografias/HelveticaWorld-Bold.ttf);
}


body{
padding: 0vw;
margin: 0vw;
overflow-x:hidden;
overflow-y:scroll;
}


.grandote{
    display: flex;
    flex-direction: column;
    background-image: url(/media/page/bk_store_main.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    z-index: 0;
    width: 98.8vw;
    height: 90vh;
    border-radius: 0vw 0vw 1vw 1vw;
}
.sub_nav{
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    border-radius: .4vw;
    left: 20vw;
    top: 6vw;
    background: rgba(165, 170, 213, 0.5);
    width: 56.5vw;
    height: 3vw;
}
.sub_nav a{
    font-family: muli;
    display: flex;
    font-size: 1.2vw;
    color: white;
    text-decoration: none;
    padding: 0vw 2vw 0vw 2vw;
   
    
}
.sub_nav a:hover {
    text-decoration: underline;
}

.navigation{
    
    width: 100vw;
    height: 18vh;
    display: flex;
   
    padding: 0vw;
    margin: 0vw 3vw 0vw 3vw;
    
}

.navigation_logo{
    margin: 2vw .5vw .3vw 4vw;
}
.nav_logo{
   width: 7vw;
   height: 4vw; 
}
.navigation_menu {
    font-family: muli;
    margin: 3vw 0vw 0vw 7vw;

    
}
.navigation_menu img {
    width: 1.2vw;
    height: .8vw;
    
}


.navigation_menu a {
    margin:0vw 10vw 0vw 0vw ;
    font-size: 1.35vw;
    color: white;
    text-decoration: none;
}

.navigation_menu a:hover {
    color:#EF9C00;
    text-decoration: underline;
}
.navigation_buttons{
    justify-content: flex-end;
    padding: 0vw;
    margin: 0vw 0vw 0vw 0vw;
    
}
.nav_btn{
    margin: 2vw 0vw 0vw 0vw;
    background: none;
    border: none;
    cursor: pointer;
  
   
}
.nav_imgBtn{
    width: 4.3vw;
    height: 4vw;
}
.list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: center;
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 18vw;
    height: 62vh;
    padding: 2vw 2vw 1vw 2vw;
    margin: 2vw 1vw 2vw 8vw;
    border-radius:2vw;
    box-shadow: 0vw .5vw .8vw -.6vw #000000, .2vw .5vw .10vw .8vw rgba(191,191,191,0);
}

.product_image{
    padding: 0vw;
    border-radius:2vw;
    margin: .02vw;
    width: 15vw;
    height: 15.5vw;
    background: none;
    cursor: pointer;
}
.product_tittle{
    color: #393F87;
    font-family: mulibold;
    margin: 1vw;
    padding: 0vw;
    text-decoration: none;
}
.product_priceb{
    font-family: helveticabold;
    margin: 0vw; 
    padding: 0vw;  
    text-decoration: line-through;
    color: red;
}
.product_priced{
    font-family: helveticabold;
    margin: 0vw 0vw 1vw 0vw;
    padding: 0vw;
}

.product_buttons{
    display: flex;
    flex-wrap: nowrap;
    background: none;
    border: none;
    cursor: pointer;
   
    

}
.btn_car{
    width: 4vw;
    height: 4vw;
}
.btn_gift{
    width: 4vw;
    height: 4vw;
}

.publicity{
    margin: 2vw 4vw 0vw 6vw;
    z-index:1;
    flex-direction: row;
  
}
.publicity_tittle{
    padding: 0vw;
    font-size: 3.5vw;
    color: #fff;
    font-family: helveticabold; 
    margin: 0vw;



}
.publicity_subtittle{
    padding: 0vw;
    color: #393F87;
    font-size: 3vw;
    font-family: helveticabold; 
    margin: 0vw;

}
.publicity_text{
    margin: 0vw;
    color: white;
    font-family:muli;
    font-size:2vw;
    width: 30vw;
}
.footer{
    display: flex;
    flex-wrap: wrap;
}
.footer_data{
    display: flex;
    flex-direction: column;
}

#trending{
    color: #393F87;
    font-family: mulibold;
    margin: 1vw;
    padding: 0vw;
}