@font-face {
  font-family: "muli";
  src: url(/media/tipografias/Muli-Regular.ttf);
}

@font-face {
  font-family: "mulibold";
  src: url(/media/tipografias/Muli-Bold.ttf);
}

@font-face {
  font-family: "helveticabold";
  src: url(/media/tipografias/HelveticaWorld-Bold.ttf);
}

.wrapper {
  max-width: 60vw;
  margin: 0vw;
  font-family: "Muli";
}

.toolbar {
  width: 100vw;
  background-color: #444444;
  overflow: auto;
}

.toolbar a {
  float: left;
  width: 11%;
  text-align: center;
  padding: 6px 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: white;
}

/* Change color on hover */
.toolbar a:hover {
  background-color: #000;
}

/* Change color on selected icon */
.selected {
  background-color: #8188C4;
}

#my-canvas {
  width: 90vw;
  height: 90vw;
  border-radius: 2vw;
  -webkit-box-shadow: 0vw 0.5vw 0.8vw -0.6vw #000000, 0.2vw 0.5vw 0.1vw 0.8vw rgba(191, 191, 191, 0);
          box-shadow: 0vw 0.5vw 0.8vw -0.6vw #000000, 0.2vw 0.5vw 0.1vw 0.8vw rgba(191, 191, 191, 0);
}

#img-data-div {
  width: 100%;
  max-width: 900px;
  height: 200px;
}

/* Resize image to container */
.toolbar a img {
  max-width: 100%;
  height: auto;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  position: relative;
  padding: 0vw;
  margin: 0vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

.grandote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(/media/page/bk_store_main.png);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  z-index: 0;
  width: 98.8vw;
  height: 90vh;
  border-radius: 0vw 0vw 1vw 1vw;
}

.sub_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: .4vw;
  left: 20vw;
  top: 6vw;
  background: rgba(165, 170, 213, 0.5);
  width: 56.5vw;
  height: 3vw;
}

.sub_nav a {
  font-family: muli;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2vw;
  color: white;
  text-decoration: none;
  padding: 0vw 2vw 0vw 2vw;
}

.sub_nav a:hover {
  text-decoration: underline;
}

.navigation {
  width: 100vw;
  height: 18vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0vw;
  margin: 0vw 3vw 0vw 3vw;
}

.navigation_logo {
  margin: 2vw .5vw .3vw 4vw;
}

.nav_logo {
  width: 7vw;
  height: 4vw;
}

.navigation_menu {
  font-family: muli;
  margin: 3vw 0vw 0vw 7vw;
}

.navigation_menu img {
  width: 1.2vw;
  height: .8vw;
}

.navigation_menu a {
  margin: 0vw 10vw 0vw 0vw;
  font-size: 1.35vw;
  color: white;
  text-decoration: none;
}

.navigation_menu a:hover {
  color: #EF9C00;
  text-decoration: underline;
}

.nav_btncart {
  z-index: 1000;
  position: absolute;
  right: 60vw;
  left: 84vw;
  top: .2vw;
}

.nav_imgBtn {
  margin-top: 2.5vw;
  width: 8vw;
  height: 3.5vw;
  cursor: pointer;
}

.nav_cant {
  font-family: mulibold;
  position: absolute;
  color: #fff;
  margin: 0vw;
  padding: 0vw;
  z-index: 1;
  left: 4.8vw;
  top: 3vw;
  font-size: 1.6vw;
}

.publicity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2vw 4vw 2vw 6vw;
  z-index: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80vh;
}

.publicity_left {
  width: 50vw;
}

.publicity_right {
  width: 50vw;
}

.publicitty_up {
  height: 80hv;
}

.publicity_tittle {
  padding: 0vw;
  font-size: 3.5vw;
  color: #fff;
  font-family: helveticabold;
  margin: 0vw;
}

.publicity_subtittle {
  padding: 0vw;
  color: #393F87;
  font-size: 3vw;
  font-family: helveticabold;
  margin: 0vw;
}

.publicity_text {
  margin: 0vw;
  color: white;
  font-family: muli;
  font-size: 2vw;
  width: 30vw;
}

.publicity_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0vw;
  color: white;
  font-family: helveticabold;
  font-size: 2vw;
  width: 20vw;
}

.publicity_priceb {
  text-decoration: line-through;
  color: red;
}

.publicity_btns {
  font-size: 3vw;
  width: 30vw;
  height: 2vw;
}

.publicity_btncart {
  width: 12vw;
  height: 2vw;
  border-radius: 4vw;
  background-color: #EF9C00;
  border-color: #d88e04;
}

.publicity_btngift {
  width: 12vw;
  height: 2vw;
  border-radius: 4vw;
  background-color: #B2B4CA;
  border-color: #8e91ac;
}

.principal {
  padding: 0vw;
  border-radius: 2vw;
  margin: .02vw;
  width: 26vw;
  height: 23vw;
  background: none;
  cursor: pointer;
}

.publicity_secundaryimgs img {
  padding: 0vw;
  border-radius: 2vw;
  margin: .02vw;
  width: 8vw;
  height: 8.5vw;
  background: none;
  cursor: pointer;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  width: 18vw;
  height: 62vh;
  padding: 2vw 2vw 1vw 2vw;
  margin: 2vw 1vw 2vw 8vw;
  border-radius: 2vw;
  -webkit-box-shadow: 0vw 0.5vw 0.8vw -0.6vw #000000, 0.2vw 0.5vw 0.1vw 0.8vw rgba(191, 191, 191, 0);
          box-shadow: 0vw 0.5vw 0.8vw -0.6vw #000000, 0.2vw 0.5vw 0.1vw 0.8vw rgba(191, 191, 191, 0);
}

#trending {
  color: #393F87;
  font-family: mulibold;
  margin: 1vw;
  padding: 0vw;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      align-self: center;
}

.product_image {
  padding: 0vw;
  border-radius: 2vw;
  margin: .02vw;
  width: 15vw;
  height: 15.5vw;
  background: none;
  cursor: pointer;
}

.product_tittle {
  color: #393F87;
  font-family: mulibold;
  margin: 1vw;
  padding: 0vw;
  text-decoration: none;
}

.product_priceb {
  font-family: helveticabold;
  margin: 0vw;
  padding: 0vw;
  text-decoration: line-through;
  color: red;
}

.product_priced {
  font-family: helveticabold;
  margin: 0vw 0vw 1vw 0vw;
  padding: 0vw;
}

.product_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background: none;
  border: none;
  cursor: pointer;
}

.btn_car {
  width: 4vw;
  height: 4vw;
}

.btn_gift {
  width: 4vw;
  height: 4vw;
}

.navigationDetail {
  width: 100vw;
  height: 18vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0vw;
  margin: 0vw 3vw 0vw 3vw;
}

.grandoteDetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 0;
  width: 99vw;
  height: 24vh;
  border-radius: 0vw 0vw 1vw vw;
  background: #070618;
}

.productDetail {
  margin: 2vw 4vw 0vw 6vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100wv;
  height: 70hv;
}

.filter {
  width: 50vw;
  height: 2hv;
}
/*# sourceMappingURL=main.css.map */