@font-face{
    font-family: "muli";
    src: url(/media/tipografias/Muli-Regular.ttf);
}

@font-face{
    font-family: "mulibold";
    src: url(/media/tipografias/Muli-Bold.ttf);
}

body{
padding: 0px;
margin: 0px;

.grandote{
    display: flex;
    flex-direction: column;
    background-image: url(/media/page/bk_store_main.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    z-index: 0;
}


}
.navigation{
    
    width: 100vw;
    height: 95vh;
    display: flex;
   
    padding: 0px;
    margin: .3vw .3vw .3vw .8vw;
    
}

.navigation_logo{
    margin: 20px;
}
.navigation_menu {
    font-family: muli;
    margin: 35px 35px 0px 90px;
    
}


.navigation_menu a {
    margin:0px 120px 0px 0px ;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.navigation_menu a:hover {
    color:#EF9C00;
    text-decoration: underline;
}
.navigation_buttons{
    justify-content: flex-end;
    padding: 0px;
    margin: 0px 0px 0px 15px;
    
}
.btn{
    margin: 20px 0px 0px 0px ;
    background: none;
    border: none;
    cursor: pointer;
   
}
.list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: center;
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellowgreen;
    width: 18vw;
    height: 62vh;
    padding: 2vw 2vw 1vw 2vw;
    margin: 2vw 1vw 2vw 8vw;
    border-radius:2vw;
}
.product_image{
    padding: 0px;
    border: 0px;
    padding: 0px;
    background: none;
    border: none;
    cursor: pointer;
}
.product_image{
    border-radius:2vw;
    margin: .02vw;
    width: 15vw;
    height: 15.5vw;
}
.product_tittle{
    color: #393F87;
    font-family: muli;
    margin: 1vw;
    padding: 0px;
}
.product_priceb{
    font-family: muli;
    margin: 0px; 
    padding: 0px;  
}
.product_priced{
    font-family: muli;
    margin: 0vw 0vw 1vw 0vw;
    padding: 0px;
}

.product_buttons{
    display: flex;
    flex-wrap: nowrap;
    background: none;
    border: none;
    cursor: pointer;
   
    

}
.btn_car{
    width: 4vw;
    height: 4vw;
}
.btn_gift{
    width: 4vw;
    height: 4vw;
}

.publicity{
    margin: 8vw;
    z-index:1;
    flex-direction: row;
  
}

.footer{
    display: flex;
    flex-wrap: wrap;
}
.footer_data{
    display: flex;
    flex-direction: column;
}

#trending{
    color: #393F87;
    font-family: mulibold;
    margin: 1vw;
    padding: 0px;
}