.wrapper {
    max-width: 60vw;
    margin: 0vw;
    font-family: "Muli";
}
 
.toolbar{
    width: 100vw;
    background-color: #444444;
    overflow: auto;
}
 
.toolbar a {
    float: left;
    width: 11%;
    text-align: center;
    padding: 6px 5px;
    transition: all 0.5s ease;
    color: white;
}
 
/* Change color on hover */
.toolbar a:hover {
    background-color: #000;
  }
 
/* Change color on selected icon */
.selected {
    background-color: #000; 
}
 
#my-canvas{
    width: 90vw;
    height: 90vw;
    border: 3px solid #000000;
}
 
#img-data-div{
    width: 100%;
    max-width: 900px;
    height: 200px;
}
 
/* Resize image to container */
.toolbar a img{
    max-width:100%;
    height:auto;
}